<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="fav.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  /* .mypage{
    padding-top:25px;
    background-image: url('error.jpg');
    width:100%;
    height:500px;
  } */
  .centered h2 {
    text-align: center;
    color:red;
  }

  *{
    margin: 0;
    padding: 0;
  }
  .photo{
    width: 100%;
    height: 46rem;
    opacity: .7; 
   }
  .centered {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered .mydiv {
    text-align: center;
}
 
</style>
<title>Auto Hire</title>
</head>
  <body>
    <div class="container">
      <img class="photo" src="error.jpg" alt="">
      
     
      <div class="centered">
        <h2 >Password not match...!!!  </h2>
        <div class="mydiv">
      <a href="/login"><button type="button" class="btn btn-outline-success ">login </button></a>
       <a href="/"><button type="button" class="btn btn-outline-success ">signup </button></a>
      </div>
      </div>
    </div>

  <!--
  <div class="container">
    <img src="error.jpg"  style="width:100% ,height : 46rem ;" >
    <div class="centered">Centered</div>
  </div>
-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>